h1{
    font-size: 30px;
}
.making-width{
    width: 40%;
    float: left;
}

.making-good{
    text-decoration: none;
    background-image: linear-gradient(tomato orange);
    font-weight: 700;
    color: blue;
    padding: 10px 20px;
    border-radius: 10px;
}
.name-change{
    color: red;
}
